/* GLOBALES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
}

body, html {
  height: 100%; /* Se establece la altura al 100% para que el sticky footer funcione */
}

img {
  max-width: 100%; /* Para que las imágenes sean responsivas */
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
}

.instagram-container {
  display: flex;
  justify-content: center; 
  gap: 8px;  /* Espacio entre el ícono y el texto */
}

/* Puedes agregar estilos adicionales si lo deseas */
.bi-instagram {
  font-size: 20px;
  /* color: #E1306C;  Color de Instagram */
  color: white;
  vertical-align: middle;  
}

.instagram-container p{
  margin: 0;
  display: inline-block;  /* Esto lo convierte en un bloque en línea, lo que puede ayudar con la alineación */
  vertical-align: middle;
}


/* NAVBAR */
.section-nav {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
  background-color: #fff;  /* Ahora el fondo se aplica aquí */
  justify-content: space-between;
  width: 100%;
}

.nav-items {
  padding-left: 15px;
  display: flex;  
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 50px;
  align-items: center; /* Centra los enlaces verticalmente */
}

.nav-items::-webkit-scrollbar {
  display: none;  /* Oculta el scrollbar en WebKit browsers (como Chrome y Safari) */
}

.nav-items a {
  color: #ff6347; /* Ajusta el color para que contraste con el fondo de la página */
  margin: 0 15px;
  text-decoration: none;
  flex: 0 0 auto;  /* esto evita que los elementos se estiren o encojan */
}

.nav-items a.active {
  font-weight: bold; /* Si es la sección activa, aparece en negrita */
}

.nav-items a:last-child {
  margin-right: 15px; /* puedes ajustar este valor según tus necesidades */
}
.nav-items a:first-child {
  margin-left: 15px; /* puedes ajustar este valor según tus necesidades */
}

/* Homepage */
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home h1, .home h2 {
  margin-top: 40px;
  margin-bottom: -20px;
  text-align: center;
}

.home ul {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos de lista horizontalmente */
  padding: 40px;
  list-style: none;
}
.home ul li {
  background: #ff6347;
  padding: 10px 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; /* Puedes ajustar a lo que necesites */
  margin-bottom: 20px;
}

.home ul li a {
  color: white;
}

.section-card {
  text-align: center;
  color: white; 
}

/* Sección */
.section{
  min-height: 100vh;
}
.section h1 {
  text-align: center;
}
.section ul {
  margin-top: 0px;
  padding: 0px;
}
.section ul li{
  padding: 15px;
}

/* Estilo para los platillos en las secciones */
.dish-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;  /* Línea divisoria entre platillos */
  transition: background-color 0.2s ease;
}

.dish-item:hover {
  background-color: #f9f9f9;  /* Un color de fondo sutil al pasar el mouse */
}

.dish-name {
  font-size: 15px;  /* Un tamaño de fuente más grande para el nombre del platillo */
}

.dish-price {
  font-size: 15px;
  color: #ff6347;  /* Un color diferente para resaltar el precio */
}
/* Modal que muestra la descripcion */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* FOOTER */
.home-footer {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Esto empuja el footer hacia abajo */
  border-top: 3px solid #ff6347;
  font-size: 14px; /* Reduce el tamaño de la fuente para que no sea tan grande */
}

.home-footer h2 {
  font-size: 18px; /* Ajusta el tamaño de la fuente para los títulos h2 del footer */
  margin-top: 0;
  margin-bottom: 10px;
}

.home-footer p {
  margin: 5px 0;
  margin-bottom: 20px; 
}


/* Media queries para responsividad */
@media screen and (max-width: 768px) {
  /* Navbar */
  .nav-items {
    justify-content: start; /* Cambiamos esto para que los items comiencen desde el inicio y no se distribuyan uniformemente */
    overflow-x: auto; /* Asegurándonos de que la barra de desplazamiento horizontal esté activa */
    overflow-y: hidden; /* Evitamos el desplazamiento vertical */
    white-space: nowrap; /* Evita que los elementos pasen al siguiente renglón */
  }
  
  .nav-items a {
    flex: none; /* Esto asegura que los enlaces no se estiren o encojan */
  }
  
  /* Homepage */
  .home ul li {
    display: block;
    margin-bottom: 15px;
  }
}



  